body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-color: rgb(170, 221, 255);
    color: rgb(123, 52, 255);
  }
  
  .room {
    padding: 20px;
  }
  
  .puzzle {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 10px auto;
    display: inline-block;
    border-radius: 10px;
  }
  
  button {
    background: pink;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background: red;
    color: white;
  }
  